*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    cursor: none;
}

html {
    // Defines 1rem
    font-size: 62.5%; // 1rem = 10px;
}

body {
    box-sizing: border-box;
    
}

.cursor {
    position: absolute;
    background-color: $color-white;
    // margin-left: -15px;
    width: 5px;
    height: 5px;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    border-radius: 50%;
}

.cursor.hovered {
    transform: scale(1.6);
}

.cursor-follower {
    position: absolute;
    border: solid 1px $color-white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;

    &.hovered {
        border: solid 1px $color-white;
    }
  }
