// Colors
$color-brown: #A57950;
$color-red: #D32824;
$color-white: #FAFAF8;

// Typography
$font-header: Lacquer, sans-serif;
$font-primary: Vesper Libre, serif;
$font-secondary: Volkorn, serif;


//Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;