$ns: '.landing';

#{$ns} {
    position: relative;
    height: 100vh;
    

    &__chaos {
        position: absolute;
        top: 0;
        left: 0;
        color: $color-red;
        font-size: 5rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        z-index: 5;

        @include at('tablet') {
            font-size: 6rem;
        }

        @include at('desktop') {
            font-size: 8rem;
        }
    }

    &__title {
        font-family: $font-header;
        color: $color-red;
        font-size: 6rem;
        margin-bottom: 3rem;

        @include at('tablet') {
            font-size: 8rem;
        }
    
        @include at('desktop') {
            font-size: 12rem;
            margin-bottom: 6rem;
        }
    }

    &__kids-see-ghosts {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        z-index: 5;
    }

    &__sometimes {

        @include at('desktop') {
            font-family: $font-header;
            font-size: 3rem;
            color: $color-white;
            opacity: .7;
            transition: all .6s;
            margin-bottom: 2rem;

            &::before {
                content: 'hover here';
            }

            &.hover {
                &::before {
                    content: 'sometimes';
                    color: $color-red;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__streaming-links {
        position: absolute;
        bottom: 0;
        color: $color-white;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 5rem;
        z-index: 1000005;
        font-size: 2rem;

        @include at('desktop') {
            font-size: 3rem;
        }
    }

    &__streaming-link {
        
        &:hover {
            color: $color-red;
        }
        
        &:not(:last-child){
            padding-right: 5rem;
        }
    }

    &__album {
        position: absolute;
        z-index: 1000000;
        width: 100%;
        height: 75vh;
        top: 20rem;
        left: 0;

        &--blur {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &--art {
            opacity: .7;
        }

    }

    &__credits {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
    }

    &__author {
        font-family: $font-primary;
        color: $color-white;
        font-size: 1.2rem;
    }
}