$ns: '.tracklist';

#{$ns} {
    position: relative;
    top: 35%;
    left: 40%;
    color: $color-white;
    font-size: 4rem;
    max-width: 50%;
    display: none;

    &.hover {
        display: block;
        max-width: 50%;
        
    }
    

    &__track-title{
        
    }

    &__track-links{
        display: none;
        
    }

    &__track-spotify{
        display: inline;
        margin-right: 3px;
    }

    &__track-apple{
        display: inline;
        margin-right: 3px;
    }

    &__track-tidal{
        display: inline;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 3px;
        font-size: 3rem;
    }
}