$ns: '.tracklist';

#{$ns} {
    position: absolute;
    top: 65%;
    left: 50%;
    color: $color-white;
    font-size: 4rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .6s;

    &.hover {
        opacity: 1;
        
    }
    

    &__track-title{
        
    }

    &__track-links{
        display: none;
        
    }

    &__track-spotify{
        display: inline;
        margin-right: 3px;
    }

    &__track-apple{
        display: inline;
        margin-right: 3px;
    }

    &__track-tidal{
        display: inline;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 3px;
        font-size: 3rem;
    }
}